<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.quentindunand.BTTFSoundboard" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RVLF Soundboard</name>
    <description>
        A sample Back To The Future Soundboard application.
    </description>
    <author email="quentindunand@gmail.com" href="http://quentindunand.fr">
        Quentin Dunand
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
